---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog page";
---

<BaseLayout pageTitle={pageTitle}>
  <h3>Posts galore</h3>
  <p>
    This is where I will post things about me and the things I know. After all,
    I'm 80 and I know a lot of things.
  </p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>

