---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Blog page";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <h3>Posts galore</h3>
  <p>
    This is where I will post things about me and the things I know. After all,
    I'm 80 and I know a lot of things.
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
