---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My world in bits and pieces</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <br>
  That image above is a Hyper Cube. <br>
  It's a forth dimensional object. <br>
  See post number 4 to learn all about it.
  <br><br>
  That other image that looks like a small sun, it changes the theme from light to dark and vice versa.
</BaseLayout>


