---
import { Image } from "astro:assets";
import myImage from "../assets/HyperCubeA.png";
---

<body>
  <!-- <Image src={myImage} alt="HyperCube text" /> -->
  <!-- <img src="Images\HyperCube.png" width="190" height="200" alt="HyperCube" /> -->
  <Image src={myImage} alt="Hyper Cube" width="66" height="70" />
</body>
